* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: url("/src/assets/stars-bg.jpg");
  background-size: cover;
}

section:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  background-color: rgb(17, 17, 17);
  height: 80px;
  margin: 0 auto;
}
.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navbar .links li {
  list-style-type: none;
}
.navbar .links li a {
  position: relative;
  color: white;
  font-size: 1.5rem;
}
.navbar .links li a::after,
.navbar .links li a::before {
  content: "";
  position: absolute;
  bottom: -0.3em;
  height: 3px;
  width: 120%;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navbar .links li a::after {
  left: 50%;
  transform-origin: left;
}
.navbar .links li a::before {
  right: 50%;
  transform-origin: right;
}
.navbar .links li a:hover::after,
.navbar .links li a:hover::before {
  transform: scaleX(0.4);
}
.navbar .links li a:hover::after {
  transform-origin: left;
}
.navbar .links li a:hover::before {
  transform-origin: right;
}
.navbar .navbar__mobile {
  display: none;
}
.navbar .navbar__mobile .navbar__mobile-burger {
  padding: 2px;
  margin-right: 1rem;
}
.navbar .navbar__mobile .navbar__mobile-burger .fa-bars {
  color: white;
  font-size: 25px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.fa-code {
  font-size: 2.2rem;
  padding: 5px;
  color: white;
  transition: color 0.2s;
}

.fa-code:hover {
  color: green;
}

.landing-page {
  min-height: 1000px;
  display: flex;
}
.landing-page .landing-page__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20rem;
}
.landing-page .landing-page__text h1,
.landing-page .landing-page__text p {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.774);
}
.landing-page .landing-page__text .Logo {
  border-radius: 20px;
  width: 60%;
  border: 2px solid black;
  margin-bottom: 10rem;
}
.landing-page .landing-page__text p:nth-last-of-type(1) {
  margin-bottom: 5rem;
}

.About-me {
  display: flex;
  justify-content: center;
  min-height: 800px;
}
.About-me .About__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20rem;
}
.About-me .ShortBio,
.About-me p {
  color: white;
  font-size: 20px;
}
.About-me span {
  color: lime;
  font-size: 20px;
}
.About-me .stack-icons {
  height: auto;
  width: 100%;
  transition: transform 0.3s;
  background: rgba(250, 252, 251, 0.05);
  border-radius: 20px;
}
.About-me .stack-icons--react {
  height: 150px;
  margin-top: 5rem;
  transition: transform 0.3s;
}
.About-me .stack-icons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 5rem;
}
.About-me .stack-icons:hover,
.About-me .stack-icons--react:hover {
  transform: scale(1.1);
}

@media (max-width: 578px) {
  .navbar {
    height: 60px;
  }
  .navbar .container .logo {
    margin-left: 2rem;
  }
  .navbar .links li a {
    display: none;
  }
  .navbar .navbar__mobile {
    display: block;
  }
  .landing-page {
    min-height: 700px;
  }
  .landing-page .landing-page__text {
    width: 100%;
    padding: 5px;
    margin-top: 10rem;
    text-align: center;
    align-items: center;
  }
  .landing-page .landing-page__text h1, .landing-page .landing-page__text p {
    font-size: 3rem;
  }
  .About-me .About__container {
    text-align: center;
    padding: 10rem 1rem 0 1rem;
  }
  .About-me .About__container .stack-icons__container {
    width: 50%;
  }
  .About-me .About__container .stack-icons__container .stack-icons {
    margin: 2rem;
    font-size: 80px;
  }
}/*# sourceMappingURL=main.css.map */